.upcoming {
  &_title {
    margin-bottom: 6px;
    font-weight: 700;
  }
  &_blocks {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    >div {
      padding: 8px;
      width: 100%;
      height: 30px;
      .row {
        justify-content: center;
      }

      .cell {
        width: 18px;
        height: 18px;
        border: 5px double rgb(150 183 156);
      }
    }
  }


}