.ship-station {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  margin: 20px 0px;

  &_container {
    display: flex;
    margin-left: -8px;
    width: calc(100% + 16px);
    min-height: 130px;
    gap: 8px;
    margin-bottom: 16px;

  }

  &_discription {
    display: flex;
    gap: 8px;
    text-align: center;
    height: auto;
  }

  &_button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 40px;
    margin: 0 auto;
    background-color: #b4b4ff;
    color: white;

    font-size: 14px;

    border: none {
      radius: 8px;
    }

    cursor: pointer;
    transition: ease-in-out 0.5s;
  }
}