$pixel-size: 8px;
$secondary-background: #252c54;
$tile-background: #eee4da;
$secondary-text-color: #f9f6f2;

.score {
  background: $secondary-background;
  border: calc($pixel-size * 0.5) solid $secondary-background;
  border-radius: calc($pixel-size * 0.75);
  color: $tile-background;
  font-size: calc($pixel-size * 1.5);
  line-height: calc($pixel-size * 3);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.score>div {
  font-size: calc($pixel-size * 2.5);
  color: $secondary-text-color;
}