.board {
  margin: auto;
  border-right: 4px solid black;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  overflow: hidden;

  &.paused {
    opacity: .6;
    .Food {
      background-color: rgb(131, 157, 136);
      animation-name: none;
    }
  }
}