.battleship-authorization-block {
  position: relative;
  font-weight: bold;
}

.battleship-authorization-block-title {
  margin-top: 0px;
}

.radio-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
    height: 34px;
    width: 100%;
    &.active {
      background-color: #06a30b;
      color: white;
      border: none;
    }
  }
}

.battle-submit-buttom {
  padding: 8px 16px;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 8px;
  user-select: none;
  background-color: #06a30b;
  color: white;
  font-family: inherit;

  &:disabled {
    background-color: #c6c4c4;
  }
}