.blast-reload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;

  border-radius: 10px;
  background: #4d67fb;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ffffff;
}