$main-background-color: #FF5722;

#root {
  height: 100vh;
  background-color: $main-background-color;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0px;
  overflow: hidden;
  touch-action: pan-x pan-y;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  width: 358px;
  margin: 0 auto;
}

.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  border: 2px solid white;
  border-radius: 16px;
  padding: 32px 48px;
  position: relative;
  width: 80%;
  > h1 {
    margin-top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -16px;
    padding: 0px 8px;
    background-color: $main-background-color;
    color: white;
  }
  .home_page_links {
    display: flex;
    flex-direction: column;
    &> a {
      text-decoration: none;
      color: white;
      margin-bottom: 8px;
      font-size: 20px;
    }
  }
}