.battle-cell {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid #b4b4ff;
  &.grey {
    z-index: 2;
    border: 2px solid #00f;
    background-color: rgb(146, 142, 142);
    margin: -2px;
  }
  &.red {
    background-color: rgb(193, 8, 8);
  }
  &.blue {
    background-color: rgb(107, 127, 228);
  }
}